<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/BBC.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>BBC News Clone</title>
</head>

<body>
<div class="PageHeader" id="SelectionBarHeader">
    <div class="HeaderElements" id="BBCLogo">
        <a href="http://www.bbc.com/"><img clas="BBc Logo"
                                           src="http://static.bbci.co.uk/frameworks/barlesque/3.20.5/orb/4/img/bbc-blocks-dark.png"></a>
    </div>
    <div class="SignIn HeaderElements" id="SignIn">
        <a id="idcta-link" href="https://www.bbc.com/session?ptrt=http%3A%2F%2Fwww.bbc.com%2F">
            <span id="idcta-username">Sign in</span>
        </a>
    </div>
</div>

<div class="Container">
    This is some text
</div>

</body>
</html>